<div class="card" *ngFor="let item of budgets">
  <a [routerLink]="[item.id]">
    <div class="card-header">
      <p class="card-header-title">{{item.name}}</p>
    </div>
    <div class="card-content">
      <table class="table">
        <tr>
          <th>total entrées</th>
          <th>total sorties</th>
          <th>Somme</th>
        </tr>

        <tr>
          <td>{{item.totalInput}}</td>
          <td>{{item.totalOutput}}</td>
          <td>{{item.total}}</td>
        </tr>
      </table>
    </div>
  </a>
</div>