.title {
  margin: 3% 0 ;
}

.total-table {
  margin: 5% 20%;
  width: 60%
}

#total-input {
  color: #18F051;
}

#total-output {
  color: #F0181F;
}

#total-sum {
  font-weight: bolder; 
}

.operation-table {
  margin: 10% 20%;
  width: 60%;
}

tr {
  text-align: center;
}

/* FORM */
.control {
  margin-top: 5%;
}

.button {
  margin-top: 2%;
}